@-webkit-keyframes fade_scale {
  from {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fade_scale {
  from {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
