* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  background-color: #0c93f1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header-left,
.header-right,
.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-left {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5rem;
}
.header-right {
  gap: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-main {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem 5rem;
  margin: 0 auto;
}
.logo {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}
.date-box {
  font-size: 1.5rem;
}
.city-input {
  border: none;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: #000;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.city-input:hover {
  background-color: #333;
}
.city-input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 1rem rgb(0, 41, 70);
  box-shadow: 0 0 1rem rgb(0, 41, 70);
}
.city-btn {
  border: none;
  font-size: 2rem;
  margin-left: 1rem;
  background-color: rgb(0, 41, 70);
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.city-btn:hover {
  background-color: #fff;
  color: rgb(0, 41, 70);
}
.calendar-icon {
  min-width: 2.4rem;
  min-height: 2.4rem;
  background-color: rgb(0, 41, 70);
  padding: 1rem;
  border-radius: 100%;
}
.container {
  padding: 3rem 5rem;
  margin: 0 auto;
}
.weather-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  background-color: rgba(0, 67, 115, 0.644);
  border-radius: 1rem;
  color: #b6dffb;
  font-weight: 500;
  font-size: 2rem;
  padding: 2rem 0;
  -webkit-box-shadow: 0 0 5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5rem 1rem rgba(0, 0, 0, 0.2);
}
.weather-card span {
  font-weight: 700;
}
.weather--1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  text-align: center;
}
.weather--2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  gap: 3rem;
  -webkit-animation: fade_scale 0.5s 1;
  animation: fade_scale 0.5s 1;
}
.weather--2 p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 4rem;
}
.weather--2 p span {
  -webkit-animation: fade_scale 1s 1;
  animation: fade_scale 1s 1;
}
.weather-state {
  width: 11rem;
  height: 11rem;
  -webkit-animation: fade_scale 2s 1;
  animation: fade_scale 2s 1;
}
.weather-cards {
  margin-top: 2rem;
  background-color: rgba(10, 19, 55, 0.86);
  border-radius: 1rem;
  padding: 3rem;
  -webkit-box-shadow: 0 0 5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5rem 1rem rgba(0, 0, 0, 0.2);
}
.card {
  background-color: rgba(35, 43, 75, 0.877);
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2rem;
  color: #fff;
  font-size: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3rem;
}
.card span {
  display: block;
}
.card img {
  width: 7rem;
}
.hourly-weather {
  background-color: rgba(35, 43, 75, 0.877);
  border-radius: 1rem;
  padding: 3rem;
  -webkit-box-shadow: 0 0 5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5rem 1rem rgba(0, 0, 0, 0.2);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2rem;
  max-height: 45rem;
  font-size: 1.3rem;
  overflow-y: scroll;
}
.hour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  margin-top: 20rem;
}
.hour:last-child {
  padding-bottom: 5rem;
}
.hour div p:first-child {
  margin-bottom: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
}
.wind-card,
.pressure-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(35, 43, 75, 0.877);
  -webkit-box-shadow: 0 0 5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5rem 1rem rgba(0, 0, 0, 0.2);
  padding: 3rem;
  border-radius: 1rem;
  color: #fff;
}
.wind-data,
.pressure-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3rem;
  color: #fff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
}
.wind-icon {
  min-width: 2.4rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.124);
  border-radius: 100%;
}
.air-data.top p {
  width: 100%;
  background-color: #0c93f1;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
  padding: 1rem;
  border-radius: 20px;
}
.air-data.bottom p {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 0.5rem;
}
.air-data.bottom p span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.exchange-money {
  background-color: rgba(35, 43, 75, 0.877);
  border-radius: 1rem;
  padding: 3rem;
  -webkit-box-shadow: 0 0 5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5rem 1rem rgba(0, 0, 0, 0.2);
}
